%% == Erlang Compiler ==

{erl_opts, [
  debug_info,
  warnings_as_errors,
  warn_unused_vars,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record
]}.

%% == Dependencies ==
{deps, []}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

%% == Common Test ==

{ct_compile_opts, [
  debug_info,
  warnings_as_errors,
  warn_unused_vars,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record
]}.

%% == EDoc ==

{edoc_opts, []}.

%% == Dialyzer ==

{dialyzer, [
  {warnings, [
    no_return,
    unmatched_returns,
    error_handling,
    unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_location, local},
  {plt_prefix, "toy_kv"},
  {base_plt_location, "."},
  {base_plt_prefix, "toy_kv"}
]}.

%% == Shell ==

{shell, [
  {config, ["config/sys.config"]},
  {apps, [toy_kv]}
]}.
%% == Common Testing ==
{ct_opts, [
  {sys_config, ["config/sys.config"]},
  {apps, [toy_kv]},
  {suite, [local_SUITE, dist_SUITE]}
]}.

{alias,
  [{test,
    [compile,
      {format, "--verify"},
      lint,
      hank,
      dialyzer,
      {ct, "--name=ct@127.0.0.1"},
      cover,
      edoc]}]}.

%% == Plugins ==
{project_plugins, [rebar3_format, rebar3_lint, rebar3_hank]}.

%% == Hank rules ==
{hank,
  [{ignore, ["test/local_SUITE.erl", "test/dist_SUITE.erl", "src/toy_kv_jchash.erl"]}]}.

{format, [
  {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
  {formatter, default_formatter},
  {options, #{paper => 100}}
]}.
