[
 {toy_kv,
  [
   {mode, local},
   {local, {buckets,
    [
     {b1,
      [
       {copies, disc_copies}
      ]
     },
     {b2,
      [
       {copies, ram_copies}
      ]
     }
    ],
    {replicas, 1}
   }},
   {distributed, {buckets,
    [
     {db1,
      [
       {copies, ram_copies}
      ]
     },
     {db2,
      [
       {copies, ram_copies},
       {dist_erl_nodes, false},
       {auto_eject_nodes, true}
      ]
     }
    ],
    {replicas, 3}
   }}
  ]
 }
].
